<!-- app/views/job_listings/edit.html.erb -->
<h1>Edit Job Listing</h1>

<%= form_with(model: @job_listing, local: true) do |form| %>
  <% if @job_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_listing.errors.count, "error") %> prohibited this job listing from being saved:</h2>
      <ul>
        <% @job_listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div>
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.submit 'Update Job Listing' %>
  </div>
<% end %>

<%= link_to 'Back', job_listings_path %>
